section {
  margin-top: 50px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.card-container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.btn-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-container button {
  font-family: "Montserrat", sans-serif;
  width: 305px;
  height: 56px;
  background-color: #5222d0;
  border-radius: 6px;
  font-size: 16px;
  color: #dbffff;
  border: none;
}
