<section id="about-anchor">
  <h1 class="heading">About me</h1>
  <div class="d-flex container">
    <div class="design-line"></div>
    <p class="text">
      Hi myself Himanshu Tekade, I am a software engineer at
      <b>LTIMindtree</b> from last 2 years. I am doing freelancing from last 3
      years, I have skillset of Web development, Backend development, Mobile app
      development, etc. I am always ready to learn new technologies, and build
      applications. Looking ahead I apire to expand my knowledge base further,
      embracing new challenges that will push me to grow personally as well as
      professionally, thats what keep me motivated to do programming.
    </p>
  </div>
</section>
