<div class="container">
  <div class="left-container">
    <p class="text-1">Developer</p>
    <h1 class="name">Himanshu Tekade</h1>
    <p class="summary">
      With 2 years of experience in software engineering, I have honed my skills
      as a versatile <b>Full Stack Developer</b>, specializing in Angular, React
      and Java Spring Boot technologies. Throughout my career, I have
      consistently delivered high-quality solutions that exceed expectations and
      drive business growth.
    </p>
    <button class="contact-btn">Contact me</button>
  </div>
  <div class="right-container">
    <img src="../../../assets/image.png" alt="image" />
  </div>
</div>
<button class="down-arrow-conainer" (click)="scrollToAbout()">
  <i class="ph ph-arrow-down downArrow"></i>
</button>

<app-about></app-about>
<app-projects-section></app-projects-section>
<app-skills></app-skills>
<app-footer></app-footer>
